<div *ngIf="article" class="article-container">
  <div class="article-detail">
    <img [src]="getImage(article.image)" class="article-image" alt="Article Image" />
    <h2 class="article-title">{{ article.thumbnail }}</h2>
    <p class="article-description">{{ article.description }}</p>
    <p class="article-author"> <strong>By:</strong> {{ article.authorName }}</p>
    <p class="article-date"><strong>Published on:</strong> {{ article.publishDate }}</p>
  </div>

  <div class="comments-section">
    <h3>Comments</h3>
    <div *ngFor="let comment of comments" class="comment">
      <p class="comment-author"><b>{{ comment.author }}</b></p>
      <p class="comment-text">{{ comment.text }}</p>
    </div>
    <h4>Add a Comment</h4>
    <form (ngSubmit)="addComment()" class="comment-form">
      <textarea
        [(ngModel)]="newComment.text"
        name="commentText"
        rows="3"
        placeholder="Write your comment here..."
        required
      ></textarea>
      <button type="submit" class="btn">Add Comment</button>
    </form>
  </div>
</div>
<button class="btn back-home-btn" (click)="backHome()">
  View All
</button>
