body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #4b79a1, #283e51);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
	width: 100%;
	margin: 0 auto;
    max-width: 400px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.screen__content {
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.login__title {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
  text-align: center;
}

.login__field,.login__submit {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.login__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #777777;
}

.login__input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  color: #333333;
  transition: border-color 0.3s;
}

.login__input:focus {
  border-color: #4b79a1;
}

.button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s;
}

.login__submit {
	padding: 10px;
	background: linear-gradient(90deg, #4b79a1, #283e51);
	color: #ffffff;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button__text {
  margin-right: 10px;
}

.button__icon {
  font-size: 16px;
}

.button:hover {
  background: linear-gradient(90deg, #283e51, #4b79a1);
  transform: translateY(-2px);
}

.register {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.register__button {
  background: none;
  border: none;
  color: #4b79a1;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

.register__button:hover {
  color: #283e51;
}

.g_id_signin {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#g_id_onload {
  margin-bottom: 10px;
}
