<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" /> -->

<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form [formGroup]="userForm" class="login">
        <h2 class="login__title">Welcome Back</h2>
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input type="text" formControlName="username" class="login__input" placeholder="Username" required />
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input type="password" formControlName="password" class="login__input" placeholder="Password" required />
        </div>
        <button class="button login__submit" (click)="onLogin()">
          <span class="button__text">Log In</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      </form>

      <div class="register">
        <p>Don't have an account?</p>
        <button class="register__button" (click)="toRegister()">Register</button>
      </div>
<!-- 
      <div class="social-login">
        <h3>Or log in via</h3>
        <div class="social-icons">
          <a href="#" class="social-login__icon">
            <i class="fab fa-google"></i>
            <script src="https://accounts.google.com/gsi/client" async defer></script>
          </a>
          <a href="#" class="social-login__icon">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
      </div>
    </div> -->
<!-- 
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>  -->

<div id="g_id_onload"
     data-client_id="200451332242-lnrn2ru2b7mp9rjmsd5c5tgo4lc0eroc.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:4200/home"
     data-auto_select="true"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="filled_blue"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
