<div class="author-profile">
    <h1>{{ author?.authorName }}</h1>
    <p><strong>Email:</strong> {{ author?.email }}</p>
    <p><strong>Biography:</strong> {{ author?.bio }}</p>
    <div class="author-posts">
        <h2>Posts by {{ author?.authorName }}</h2>
        <ul>
            <li *ngFor="let article of filteredArticles">
                <img [src]="getImage(article.image)" class="article-image" />
                <!-- <button class="visit-btn" >Visit →</button> -->
                <a (click)="viewDetails(article.id)">{{ article.thumbnail }}</a>
             </li>
        </ul>
    </div>

    <button (click)="backToProfile()">Back to Authors</button>
</div>