<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<app-toolbar></app-toolbar>

<div class="home-container">
  <div class="form-group">
    <form action="" class="search-form">
      <input type="search" autofocus [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="keywords" required>
      <i class="fa fa-search"></i>
    </form>
  </div>

  <div class="create-post">
    <button type="button__text" (click)="toCreatePost()">
    <i class="fas fa-pencil-alt"></i> Draft an Article
  </button>
</div>

  <section class="featured-articles">
    <h2>Featured Articles</h2>
    <div class="featured-list">
      <div *ngFor="let article of filteredArticles" class="featured-card">
        <img [src]="getImage(article.image)" alt="img" class="featured-img" />
        <div class="featured-content">
          <h2>{{ article.thumbnail }}</h2>
          <p>{{ article.description }}</p>
          <button class="view-btn" (click)="viewDetails(article.id)">Read More</button>
        </div>
      </div>
    </div>
  </section>
  <section class="articles">
    <h2>All Articles</h2>
    <div class="sort-options">
      <label for="sort">Sort by:</label>
      <select id="sort" [(ngModel)]="sortOption" (change)="applySorting()">
        <option value="latest">Latest</option>
        <option value="popular">Most Popular</option>
        <option value="editorsPick">Editor's Pick</option>
      </select>
    </div>
    <div class="article-list">
      <div *ngFor="let article of filteredArticles" class="article-card">

        <img [src]="getImage(article.image)" alt="Article Image" class="article-img"/>
        <div class="content">
          <h3>{{ article.thumbnail }}</h3>
          <p class="description">{{ article.description }}</p>
          <p class="meta">
            <span>By {{ article.authorName }}</span> | <span>{{ article.publishDate | date }}</span>
          </p>
          <button class="view-details-btn" (click)="viewDetails(article.id)">View Details</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Pagination -->
  <footer class="pagination">
    <button class="prev-btn" (click)="onPrevious()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button class="next-btn" (click)="onNext()" [disabled]="currentPage === totalPages">Next</button>
  </footer>
</div>